{
  "openapi": "3.1.0",
  "info": {
    "title": "Rastro Public API",
    "description": "Public API for enrichment, catalog management, workflows, activities, snapshots, taxonomy, and MCP integrations.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://catalogapi.rastro.ai/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/public/catalogs": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "List Catalogs",
        "description": "List all catalogs accessible to the authenticated organization.\n\nReturns catalogs owned by the organization associated with the API key or user token.",
        "operationId": "list_catalogs_api_public_catalogs_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCatalogListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Create Catalog Public",
        "description": "Create a new catalog (API key or user token).",
        "operationId": "create_catalog_public_api_public_catalogs_post",
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateCatalogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCatalogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get Catalog",
        "description": "Get details of a specific catalog.\n\nArgs:\n    catalog_id: The catalog ID\n\nReturns:\n    Catalog details including schema information",
        "operationId": "get_catalog_api_public_catalogs__catalog_id__get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCatalogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Update Catalog Public",
        "description": "Update catalog settings (API key or user token).\n\nOnly provided fields are updated; omitted fields remain unchanged.",
        "operationId": "update_catalog_public_api_public_catalogs__catalog_id__put",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateCatalogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCatalogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Delete Catalog Public",
        "description": "Delete a catalog and all its data (API key or user token).",
        "operationId": "delete_catalog_public_api_public_catalogs__catalog_id__delete",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/items": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "List Catalog Items",
        "description": "List items in a catalog with pagination, search, and filtering.\n\nArgs:\n    catalog_id: The catalog ID\n    limit: Maximum number of items to return (default: 50, max: 1000)\n    offset: Number of items to skip\n    search: Text search across all fields\n    sort: Sort by field and direction (field:asc or field:desc)\n\nReturns:\n    Paginated list of catalog items",
        "operationId": "list_catalog_items_api_public_catalogs__catalog_id__items_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search across all fields",
              "title": "Search"
            },
            "description": "Search across all fields"
          },
          {
            "name": "search_query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias for search across all fields",
              "title": "Search Query"
            },
            "description": "Alias for search across all fields"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field:direction (e.g., created_at:desc)",
              "title": "Sort"
            },
            "description": "Sort by field:direction (e.g., created_at:desc)"
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Upsert Item Public",
        "description": "Upsert a single item using the same shape as the public read API.",
        "operationId": "upsert_item_public_api_public_catalogs__catalog_id__items_post",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpsertItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCatalogItem"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/items/{item_id}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get Catalog Item",
        "description": "Get a specific catalog item by ID.\n\nArgs:\n    catalog_id: The catalog ID\n    item_id: The item ID (database ID)\n\nReturns:\n    The catalog item data",
        "operationId": "get_catalog_item_api_public_catalogs__catalog_id__items__item_id__get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Item Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Update Catalog Item",
        "description": "Update a catalog item.\n\nArgs:\n    catalog_id: The catalog ID\n    item_id: The item ID (database ID)\n    data: Updated data for the item (dynamic schema)\n\nReturns:\n    The updated catalog item",
        "operationId": "update_catalog_item_api_public_catalogs__catalog_id__items__item_id__put",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Item Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Delete Catalog Item",
        "description": "Delete a catalog item.\n\nArgs:\n    catalog_id: The catalog ID\n    item_id: The item ID (database ID)\n\nReturns:\n    Success message",
        "operationId": "delete_catalog_item_api_public_catalogs__catalog_id__items__item_id__delete",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Item Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/items/bulk": {
      "post": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Bulk Insert Items",
        "description": "Bulk create catalog items.\n\nArgs:\n    catalog_id: The catalog ID\n    request: Bulk insert request with items\n\nReturns:\n    Summary of the bulk operation",
        "operationId": "bulk_insert_items_api_public_catalogs__catalog_id__items_bulk_post",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkInsertItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/quality-prompt": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get Catalog Quality Prompt",
        "description": "Get the catalog's quality prompt (used by the judge and readiness checks).",
        "operationId": "get_catalog_quality_prompt_api_public_catalogs__catalog_id__quality_prompt_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Update Catalog Quality Prompt",
        "description": "Set the catalog's quality prompt (used by the judge and readiness checks).",
        "operationId": "update_catalog_quality_prompt_api_public_catalogs__catalog_id__quality_prompt_put",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_UpdateQualityPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/catalog-md": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get Catalog Md",
        "description": "Get the catalog's markdown context (catalog_md) injected into enrichment and mapping prompts.",
        "operationId": "get_catalog_md_api_public_catalogs__catalog_id__catalog_md_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Update Catalog Md",
        "description": "Set the catalog's markdown context (catalog_md) injected into enrichment and mapping prompts.",
        "operationId": "update_catalog_md_api_public_catalogs__catalog_id__catalog_md_put",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_UpdateCatalogMdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/products/{product_id}/items": {
      "post": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Create Product Variant Public",
        "description": "Create a new variant under a parent product item (API key or user token).\nThe product_id path parameter is the parent product catalog item database ID, not the business product_id field stored in row data.\nAccepts variant data with at least 'sku' or 'unique_identifier'.",
        "operationId": "create_product_variant_public_api_public_catalogs__catalog_id__products__product_id__items_post",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "description": "Parent product catalog item database ID, not the business product_id field value.",
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Product Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Variant Data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/products/{product_id}": {
      "put": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Update Product Public",
        "description": "Update product-level fields on a parent product item (API key or user token).\nThe product_id path parameter is the parent product catalog item database ID, not the business product_id field stored in row data.\nOnly fields with 'product_' prefix will be applied.",
        "operationId": "update_product_public_api_public_catalogs__catalog_id__products__product_id__put",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "description": "Parent product catalog item database ID, not the business product_id field value.",
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Product Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Product Data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/products/{product_id}/items/bulk": {
      "post": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Bulk Upsert Product Variants Public",
        "description": "Bulk upsert variants under a parent product item in a single call.\n\nThe product_id path parameter is the parent product catalog item database ID, not the business product_id field stored in row data.\nMerges provided product-level fields into each variant and upserts using the catalog's configured unique id field (e.g., 'sku').",
        "operationId": "bulk_upsert_product_variants_public_api_public_catalogs__catalog_id__products__product_id__items_bulk_post",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "description": "Parent product catalog item database ID, not the business product_id field value.",
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Product Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpsertProductVariantsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpsertProductResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/schema/fields": {
      "post": {
        "tags": [
          "Catalog Schemas"
        ],
        "summary": "Add Catalog Field Public",
        "description": "Add a new field to the catalog schema (API key or user token).\n\nCreates a new schema version with the additional field.",
        "operationId": "add_catalog_field_public_api_public_catalogs__catalog_id__schema_fields_post",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSchemaFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaFieldOperationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/schema/fields/batch": {
      "put": {
        "tags": [
          "Catalog Schemas"
        ],
        "summary": "Batch Update Catalog Fields Public",
        "description": "Batch add, update, and/or remove schema fields in one atomic operation (API key or user token).\n\nCreates a single new schema version for all changes.",
        "operationId": "batch_update_catalog_fields_public_api_public_catalogs__catalog_id__schema_fields_batch_put",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSchemaFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaFieldOperationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/taxonomy": {
      "put": {
        "tags": [
          "Catalog Taxonomies"
        ],
        "summary": "Set Catalog Taxonomy Public",
        "description": "Set or replace the catalog taxonomy (API key or user token).\n\nCreates a new schema version with the updated taxonomy.\n\nRequest body: taxonomy object with name, hierarchy_levels, and nodes.\nReturns the enriched taxonomy with computed fields (level, path, children, inherited_attributes).",
        "operationId": "set_catalog_taxonomy_public_api_public_catalogs__catalog_id__taxonomy_put",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Taxonomy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Catalog Taxonomies"
        ],
        "summary": "Delete Catalog Taxonomy Public",
        "description": "Remove taxonomy from catalog (API key or user token).\n\nCreates a new schema version without the taxonomy.",
        "operationId": "delete_catalog_taxonomy_public_api_public_catalogs__catalog_id__taxonomy_delete",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Catalog Taxonomies"
        ],
        "summary": "Get Catalog Taxonomy",
        "description": "Get catalog taxonomy with computed inheritance.\n\nReturns the taxonomy with enriched nodes that include level, path,\nchildren, inherited_attributes, and all_attributes.\nReturns null if catalog has no taxonomy configured.",
        "operationId": "get_catalog_taxonomy_api_public_catalogs__catalog_id__taxonomy_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "if-none-match",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "If-None-Match"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/workflows": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "List Workflows",
        "description": "List all workflows accessible to the authenticated organization.\n\nReturns workflows owned by the organization associated with the API key or user token.\n\n- **limit**: Maximum number of workflows to return (1-100, default: 50)\n- **offset**: Number of workflows to skip for pagination (default: 0)",
        "operationId": "list_workflows_api_public_workflows_get",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional case-insensitive search on workflow name/description",
              "title": "Search"
            },
            "description": "Optional case-insensitive search on workflow name/description"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkflowListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/workflows/{workflow_id}/execute": {
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "Execute Workflow",
        "description": "Execute a workflow with input data.\n\n- **workflow_id**: The ID of the workflow to execute\n- **input**: List of input data records to process\n\nReturns execution info including workflow_run_id for polling.",
        "operationId": "execute_workflow_api_public_workflows__workflow_id__execute_post",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Workflow Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicWorkflowExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkflowExecuteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/workflows/runs/{workflow_run_id}": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "Get Workflow Run Status",
        "description": "Get status and results of a workflow run.\n\nReturns status info while running, and includes paginated results when completed.\n\n- **workflow_run_id**: The workflow run ID from the execute endpoint\n- **page**: Page number for results (default: 1)\n- **page_size**: Number of records per page (default: 50, max: 1000)",
        "operationId": "get_workflow_run_status_api_public_workflows_runs__workflow_run_id__get",
        "parameters": [
          {
            "name": "workflow_run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Workflow Run Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 50,
              "title": "Page Size"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkflowRunStatus"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/enrich": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Enrich Data",
        "description": "Enrich items using web research, with optional taxonomy prediction.\n\nAccepts both `application/json` (plain JSON body) and `multipart/form-data`\n(with `request_json` field, optional `items_file`, and optional\n`knowledge_base_files`).\n\n**Two modes of operation:**\n\n1. **Direct mode**: Pass items and output_schema directly\n2. **Full-run mode**: Pass `source_activity_id` from a previous run to process all stored items\n\n**Example: Direct enrichment**\n```json\n{\n  \"prompt\": \"Find product specifications\",\n  \"items\": [{\"name\": \"iPhone 15 Pro\"}],\n  \"output_schema\": [\n    {\"name\": \"price\", \"type\": \"string\", \"description\": \"Current retail price\"},\n    {\"name\": \"weight\", \"type\": \"string\", \"description\": \"Product weight\"}\n  ]\n}\n```\n\n**Example: Dry run (process first 10 items)**\n```json\n{\n  \"prompt\": \"Find product specifications\",\n  \"items\": [... all 1000 items ...],\n  \"output_schema\": [...],\n  \"max_rows\": 10\n}\n```\n\n**Example: Full run from previous activity**\n```json\n{\n  \"prompt\": \"Find product specifications\",\n  \"source_activity_id\": \"abc123-previous-activity-id\"\n}\n```\n\n**Large jobs:** send multipart/form-data with a small `request_json` and\none `items_file` JSON upload. `items_file` must be a JSON array, or an\nobject with an `items` array. Do not send `items_storage_url`; it is internal.\n\nAll items are stored in the activity, so full runs can be triggered later using `source_activity_id`.",
        "operationId": "enrich_data_api_public_enrich_post",
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichRequest"
              },
              "examples": {
                "direct": {
                  "summary": "Direct enrichment",
                  "value": {
                    "items": [
                      {
                        "part_number": "6205-2RS",
                        "name": "Deep Groove Ball Bearing"
                      }
                    ],
                    "output_schema": [
                      {
                        "name": "bore_diameter",
                        "type": "string",
                        "description": "Inner diameter in mm"
                      },
                      {
                        "name": "outer_diameter",
                        "type": "string",
                        "description": "Outer diameter in mm"
                      }
                    ],
                    "speed": "fast"
                  }
                },
                "catalog": {
                  "summary": "Use a catalog configuration",
                  "value": {
                    "catalog_id": "cat_123",
                    "items": [
                      {
                        "sku": "A1"
                      }
                    ],
                    "speed": "deep"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "request_json"
                ],
                "properties": {
                  "request_json": {
                    "type": "string",
                    "description": "JSON-encoded EnrichRequest. For large jobs with items_file, omit inline items from request_json."
                  },
                  "items_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional JSON upload containing either an array of items or an object with an items array. Use exactly one items_file for large jobs."
                  },
                  "knowledge_base_files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Optional knowledge-base documents used for retrieval/citations during enrichment."
                  },
                  "knowledge_base_metadata_json": {
                    "type": "string",
                    "description": "Optional JSON metadata for knowledge_base_files, keyed by file name or upload index."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/judge": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Judge Catalog Rows",
        "description": "Judge catalog rows against schema + quality criteria.\n\nWhen catalog_id is provided, automatically loads the schema and the catalog's\nreadiness_config quality_prompt. The optional `prompt` field appends extra instructions.",
        "operationId": "judge_catalog_rows_api_public_judge_post",
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JudgeCatalogRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JudgeCatalogRowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/enrich/jobs": {
      "get": {
        "tags": [
          "Enrich"
        ],
        "summary": "List Enrichment Jobs",
        "description": "List enrichment jobs for your organization.\n\n**Query parameters:**\n- `status`: Filter by status (`running`, `completed`, `failed`, `cancelled`)\n- `limit`: Max results (1-100, default 20)\n- `offset`: Pagination offset (default 0)\n\n**Example:**\n```\nGET /api/public/enrich/jobs?status=running&limit=10\n```",
        "operationId": "list_enrichment_jobs_api_public_enrich_jobs_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/enrich/{job_id}/cancel": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Cancel Enrichment Job",
        "description": "Cancel a running enrichment job.\n\nItems already processed will be kept and credits charged only for those items.\n\n**Example:**\n```\nPOST /api/public/enrich/{job_id}/cancel\n```",
        "operationId": "cancel_enrichment_job_api_public_enrich__job_id__cancel_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/enrich/{job_id}/to-catalog": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Create Catalog From Run",
        "description": "Create a new catalog from an enrichment run's results.\n\nThe new catalog's schema carries field types AND descriptions from the run's\nenrichment template, and is populated with the run's enriched records. Works for\nupload-based (catalog-less) runs that otherwise have no catalog to export to.",
        "operationId": "create_catalog_from_run_api_public_enrich__job_id__to_catalog_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCatalogFromRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/enrich/{job_id}": {
      "get": {
        "tags": [
          "Enrich"
        ],
        "summary": "Get Enrichment Job",
        "description": "Poll enrichment job status and get results.\n\nReturns results **progressively** \u2014 partial results are available while the job\nis still running, as each batch of items completes processing.\n\n**Flow:**\n1. Submit enrichment with `async_mode=true` \u2192 get `job_id`\n2. Poll this endpoint \u2014 results appear incrementally as items are processed\n3. When `status` changes to `completed`, all results are ready\n\n**Pagination:**\n- `page`: Page number (1-indexed, default: 1)\n- `page_size`: Results per page (default: 1000)\n- Response includes `page`, `page_size`, `total_pages`, `completed_items`\n\n**Statuses:**\n- `running`: Job is still processing (partial results may be available)\n- `completed`: Job finished, all results ready\n- `failed`: Job failed or was cancelled (partial results may still be available)\n\n**Example:**\n```\nGET /api/public/enrich/{job_id}?page=1&page_size=50\n\nResponse (running, partial results):\n{\n    \"job_id\": \"08aa2b0d-...\",\n    \"status\": \"running\",\n    \"results\": [\n        {\"after_data\": {...}, \"before_data\": {...}, \"sources\": {...}}\n    ],\n    \"total_items\": 500,\n    \"completed_items\": 200,\n    \"successful\": 0,\n    \"credits_used\": 0,\n    \"page\": 1,\n    \"page_size\": 50,\n    \"total_pages\": 4\n}\n```",
        "operationId": "get_enrichment_job_api_public_enrich__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Page Size"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/infer-enrichment": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Infer Enrichment",
        "description": "Analyze sample data and infer schema, taxonomy, and web enrichment fields.\n\nPass sample items and a description, get back:\n- **suggested_schema**: JSON Schema ready for catalog creation\n- **suggested_taxonomy**: Taxonomy ready for catalog creation\n- **web_enrichment_fields**: Fields to use with /public/enrich endpoint\n\n**Example request:**\n```json\n{\n  \"prompt\": \"Audio products catalog - headphones and earbuds\",\n  \"items\": [\n    {\"name\": \"Sony WH-1000XM5\", \"sku\": \"WH1000XM5-B\", \"price\": \"$399.99\"},\n    {\"name\": \"Apple AirPods Pro 2\", \"sku\": \"AIRPODS-PRO-2\", \"price\": \"$249.00\"}\n  ]\n}\n```",
        "operationId": "infer_enrichment_api_public_infer_enrichment_post",
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InferEnrichmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferEnrichmentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/infer-schema": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Infer Schema From File",
        "description": "Analyze an uploaded file and infer enrichment configuration.\n\nUpload a CSV or Excel file, and get back:\n- **suggested_schema**: JSON Schema with all fields (existing + suggested enrichments)\n- **web_enrichment_fields**: Fields to use with /public/enrich endpoint\n- **suggested_taxonomy**: Category hierarchy (if generate_taxonomy=true)\n\nThis endpoint helps you configure an enrichment pipeline without manual schema definition.\n\n**Example usage:**\n1. Upload your data file with a description\n2. Use the returned `web_enrichment_fields` as `output_schema` in `/public/enrich`\n3. Use `suggested_taxonomy` with `predict_taxonomy=true` in `/public/enrich`\n\n**Supported file formats:**\n- CSV (.csv)\n- Excel (.xlsx, .xls)",
        "operationId": "infer_schema_from_file_api_public_infer_schema_post",
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_infer_schema_from_file_api_public_infer_schema_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferSchemaResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/enrichment-templates": {
      "get": {
        "tags": [
          "Enrich"
        ],
        "summary": "List Enrichment Templates",
        "description": "List enabled enrichment templates for the authenticated organization.\n\nReturns only small manifests. Full configs are storage-backed and are applied\nserver-side when `template_id` is passed to POST /public/enrich.",
        "operationId": "list_enrichment_templates_api_public_enrichment_templates_get",
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/enrichment-templates/{template_id}": {
      "get": {
        "tags": [
          "Enrich"
        ],
        "summary": "Get Enrichment Template",
        "description": "Get enabled template metadata and hydrated config for the authenticated organization.\n\nThe list endpoint stays lightweight; this endpoint is used on explicit\nselection so the UI can show the template fields and taxonomy before run\ntime. Large taxonomies can use taxonomy_format=compact for fast selection.",
        "operationId": "get_enrichment_template_api_public_enrichment_templates__template_id__get",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Template Id"
            }
          },
          {
            "name": "include_taxonomy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Hydrate and return the template taxonomy. Set false when only fields/prompts are needed.",
              "default": true,
              "title": "Include Taxonomy"
            },
            "description": "Hydrate and return the template taxonomy. Set false when only fields/prompts are needed."
          },
          {
            "name": "taxonomy_format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(expanded|compact)$",
              "description": "Return hydrated taxonomy as expanded nodes or compact deduplicated nodes.",
              "default": "expanded",
              "title": "Taxonomy Format"
            },
            "description": "Return hydrated taxonomy as expanded nodes or compact deduplicated nodes."
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/schema": {
      "get": {
        "tags": [
          "Catalog Schemas"
        ],
        "summary": "Get Catalog Schema",
        "description": "Get catalog schema definition.\n\nReturns the schema for a catalog, including field definitions, types, and metadata.",
        "operationId": "get_catalog_schema_api_public_catalogs__catalog_id__schema_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specific schema version (defaults to current)",
              "title": "Version"
            },
            "description": "Specific schema version (defaults to current)"
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSchemaResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/activities": {
      "post": {
        "tags": [
          "Catalog Activities"
        ],
        "summary": "Create Activity With Staged Changes",
        "description": "Create an activity with optional staged changes for a catalog.\n\nThis endpoint allows programmatic creation of review activities (e.g., from an MCP tool server).\nStaged changes represent proposed modifications to catalog items that can be reviewed and applied.",
        "operationId": "create_activity_with_staged_changes_api_public_catalogs__catalog_id__activities_post",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateActivityResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Catalog Activities"
        ],
        "summary": "List Catalog Activities",
        "description": "List activities for a specific catalog.\n\nReturns activities associated with the given catalog, with optional filtering.",
        "operationId": "list_catalog_activities_api_public_catalogs__catalog_id__activities_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by activity status",
              "title": "Status"
            },
            "description": "Filter by activity status"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by activity type",
              "title": "Type"
            },
            "description": "Filter by activity type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/raw-items": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "List Catalog Raw Items",
        "description": "List raw catalog_items rows without public product transformation.\n\nThis endpoint is intended for MCP/tooling workloads that require full-fidelity\nrow data (id/entity_type/parent_id/current_version/data) for local transforms\nand deterministic diff pipelines.",
        "operationId": "list_catalog_raw_items_api_public_catalogs__catalog_id__raw_items_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 1,
              "default": 1000,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "entity_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional entity_type filter: product|variant",
              "title": "Entity Type"
            },
            "description": "Optional entity_type filter: product|variant"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional text search across raw item data",
              "title": "Search"
            },
            "description": "Optional text search across raw item data"
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional raw sort field (data field or system column)",
              "title": "Sort Field"
            },
            "description": "Optional raw sort field (data field or system column)"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort direction: asc or desc",
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort direction: asc or desc"
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/raw-items/{item_id}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get Catalog Raw Item",
        "description": "Get a single raw catalog item row for MCP/tooling use cases.",
        "operationId": "get_catalog_raw_item_api_public_catalogs__catalog_id__raw_items__item_id__get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Item Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/activities/{activity_id}/staged-changes/append": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Append Activity Staged Changes",
        "description": "Append staged changes to an existing activity.\n\nThis supports large one-command MCP updates by chunking staged changes across\nmultiple requests while keeping a single activity/review URL.",
        "operationId": "append_activity_staged_changes_api_public_activities__activity_id__staged_changes_append_post",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Activity Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendStagedChangesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendStagedChangesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/activities/{activity_id}/pending-review": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Set Activity Pending Review Public",
        "description": "Move an existing activity to pending_review and return review URL.",
        "operationId": "set_activity_pending_review_public_api_public_activities__activity_id__pending_review_post",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Activity Id"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Organization-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPendingReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransformActivityResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/public/catalogs/{catalog_id}/snapshots": {
      "get": {
        "tags": [
          "Catalog Snapshots"
        ],
        "summary": "List Catalog Snapshots",
        "description": "List catalog snapshots for rollback/history flows.",
        "operationId": "list_catalog_snapshots_api_public_catalogs__catalog_id__snapshots_get",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Catalog Id"
            }
          },
          {
[...]
